.eventsbg{
    background-color: #1F2733;;
}
.selected {
  color: #E0F7FA;
  background-color: rgba(0, 188, 212, 0.1); // glassy cyan
  border: 2px solid #00BCD4;
  padding: 10px 24px;
  border-radius: 12px;
  font-weight: 600;
  box-shadow: 0 0 10px rgba(0, 188, 212, 0.5);
  transition: all 0.3s ease;
  backdrop-filter: blur(5px);
  cursor: pointer;
}

.notSelected {
  color: #E0F7FA;
  background-color: transparent;
  padding: 10px 24px;
  border-radius: 12px;
  font-weight: 500;
  border: 2px solid #2c3e50;
  transition: all 0.3s ease;
  cursor: pointer;
}

.notSelected:hover {
  background-color: rgba(0, 188, 212, 0.1);
  color: #E0F7FA;
  border-color: #00BCD4;
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 188, 212, 0.3);
}
